<!doctype html>
<html>

<head>
    <title>Carapuce Admin</title>
</head>

<body>
    <h1>{{ edition.label }}  {% if phase %} - {{phase}}{% endif %}</h1>

    {% if edition.tours|length == 0 %}
    <form method="POST" action="/admin/edition/{{edition.id}}/init">
        <button type="submit">Initialiser l'édition</button>
    </form>
    {% else %}
    <a href="/admin/edition/{{edition.id}}/resultats">Voir les résultats</a>
    <a href="/admin/edition/{{edition.id}}/participations">Voir les participations</a>
    <form method="POST" action="/admin/edition/{{edition.id}}/delete_tours">
        <button type="submit">Supprimer les tours</button>
    </form>

    {% set old_phase = "toto" %}
    
    <h2>Tours</h2>
    <ul>
        {% if old_phase != tour.phase %} {{tour.phase}}(<a href=f"/classments/edition/{{edition.id}}/phase/{{tour.phase}}">Résultat</a>){% endif %}
        {% set old_phase = tour.phase %}
        {% for tour in edition.tours %}
        <li>{% if phase %}{{phase}} - {% endif %}{{tour.label}}
            {% if tour.is_termine %}
            <b>Terminé</b> (<a href=f"/classments/tour/{{tour.id}}">Résultat</a>)
            {% elif tour.code==current_tour_code %}
            <b>En cours</b>
            {% else %}
            <b>A suivre</b>
            {% endif %}

            {%if tour.groupes|length == 0%}
            <form method="POST" action="/admin/tour/{{tour.id}}/init">
                <button type="submit">Créer les groupes</button>
            </form>
            {% endif %}
            {% if tour.groupes|length>0 %}
            <ul>
                {% for groupe in tour.groupes %}
                <li><a href="/admin/groupe/{{ groupe.id }}">Groupe {{ groupe.code }}</a>
                    {% if not groupe.has_resultats %}
                    <b>Sans résultats</b> ({{ groupe.joueurs|length }} joueurs)
                    {% elif not groupe.is_validated %}
                    <b>Non-validé</b> ({{groupe.joueurs|length }} joueurs, {{ groupe.parties|length }} parties)
                    {% elif groupe.is_validated %}
                    <b>Validé</b> ({{groupe.joueurs|length }} joueurs, {{ groupe.parties|length }} parties)
                    {% endif %}
                </li>
                {% else %}
                Aucun groupe.
                {% endfor %}

            </ul>
            {% endif %}
        </li>
        {% else %}
        Aucun tour.
        {% endfor %}

    </ul>
    {% endif %}
</body>

</html>
