<!doctype html>
<html>

<head>
    <title>Résultats</title>
</head>

<body>
<h1>{{ edition.label }}</h1>

<h2>Classement général (temporaire)</h2>
<ul>
    <table>
        <tr>
            <th>Place</th>
            <th>Pseudo</th>
            <th>Nb kills</th>
            <th>Nb morts</th>
            <th>Nb points</th>
        </tr>
        {% for c in classements %}
        <tr>
            <td>{{c.rang}}</td>
            <td>{{c.classement.Joueur.pseudo}}</td>
            <td>{{c.classement.nb_kills}}</td>
            <td>{{c.classement.nb_morts}}</td>
            <td>{{c.classement.nb_points}}</td>
        </tr>
        {% endfor %}
    </table>
</ul>

