<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{edition.label}} - {{tour.label}} -  Groupe {{groupe.code}} - {{groupe.label}}</title>
</head>
<body>
    <h1>Groupe {{groupe.code}}</h1>

        {% if not groupe.is_validated %}
        <form method="POST" action="/admin/groupe/{{groupe.id}}/validate">
            <button type="submit">Valider les parties</button>
        </form>
        {% else %}
        <form method="POST" action="/admin/groupe/{{groupe.id}}/unvalidate">
            <button type="submit">Annuler la validation des parties</button>
        </form>
        {% endif %}
        <ul>
            {% for partie in groupe.parties %}
            <h2>partie {{ partie.id }}: </h2>
                <h3>Classement</h3>
                <table border=1>
                    <tr>
                        <td>
                            Place
                        </td>
                        <td>
                            Pseudo
                        </td>
                        <td>
                            Nb kills
                        </td>
                        <td>
                            Nb points
                        </td>
                    </tr>
                    {% for c in partie.classements %}
                    <tr>
                        <td>
                            {{c.rang_jeu}}
                        </td>
                        <td>
                            {{c.joueur.pseudo}}
                        </td>
                        <td>
                            {{c.nb_kills}}
                        </td>
                        <td>
                            {{c.nb_points}}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                <h3>Éliminations</h3>
                <table border=1>
                    <tr>
                        <th>
                            Min:Sec   
                        </th>
                        <th>
                            Élimination
                        </th>
                        <th>
                            Type
                        </th>
                    </tr>
                    {% for e in partie.eliminations %}
                    <tr>
                        <td>
                            {{ e.timecode }}  
                        </td>
                        <td>
                            {% if e.eliminator.epic_id == e.eliminated.epic_id %}
                                <span style="color:red">{{ e.eliminated.pseudo}}</span> s'est auto-éliminé(e).
                            {% else %}
                            {{ e.eliminator.pseudo}} a éliminé <span style="color:red">{{ e.eliminated.pseudo}}</span>.
                            {% endif %}
                        </td>
                        <td>
                            {{ e.gun_type }}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            

            {% endfor %}
        </ul>
</ul>
</body>
</html>